.item-table-footer {
	margin-top: 1rem;
}

// Counter
.item-builder-table,
.item-builder-tree {
	padding: 1rem 0px;

	counter-reset: chantierheading1 0 chantierheading2 0 chantierheading3 0;

	// TODO: Commonify style in Dodock
	.tabulator-table {
		border: 1px solid var(--table-border-color);
		border-radius: var(--border-radius-md);
		color: var(--text-color);
	}

	.tabulator-row-even {
		background-color: #fff;
	}

	input:checked + .slider {
		background-color: var(--blue-400);
	}

	.tabulator-header {
		border-bottom: 1px solid var(--table-border-color);
		border-top: none;

		.tabulator-col {
			color: var(--text-muted);
			background-color: var(--subtle-fg);
			font-size: var(--text-sm);
			font-weight: var(--weight-regular);
			letter-spacing: 0.02em;
		}
	}
}

.chantier-heading {
	.btn-reset {
		color: var(--text-color);
	}
}

.chantier-heading-1 {
	counter-increment: chantierheading1 1;
	counter-reset: chantierheading2 0 chantierheading3 0;
}
.chantier-heading-2 {
	counter-increment: chantierheading2 1;
	counter-reset: chantierheading3 0;
}
.chantier-heading-3 {
	counter-increment: chantierheading3 1;
}

.chantier-heading-1 .chantier-counter::before {
	content: counter(chantierheading1, decimal) '. ';
}
.chantier-heading-2 .chantier-counter::before {
	content: counter(chantierheading1, decimal) '.' counter(chantierheading2, decimal) '. ';
}
.chantier-heading-3 .chantier-counter::before {
	content: counter(chantierheading1, decimal) '.' counter(chantierheading2, decimal) '.' counter(chantierheading3, decimal) '. ';
}

.chantier-counter {
	position: relative;
	cursor: pointer;

	&::before {
		opacity: 0.5;
	}

	&:hover::before {
		opacity: 1;
		color: var(--primary);
	}

	select {
		position: absolute;
		inset: 0;
		opacity: 0;
	}
}