.item-table-footer {
	margin-top: 1rem;
}

.item-table-buttons {
	margin-top: 1rem;
	position: sticky;
	bottom: 0.5rem;
}

// Counter
.item-builder-table,
.item-builder-tree {
	padding: 1rem 0px;

	counter-reset: chantierheading1 0 chantierheading2 0 chantierheading3 0;

	// TODO: Commonify style in Dodock
	.tabulator-table {
		// Don't use border because of layout offset issues.
		box-shadow: 0 0 0 1px var(--table-border-color);
		border-radius: var(--border-radius-md);
		color: var(--text-color);
	}
	// .tabulator .tabulator-headers .tabulator-col.tabulator-frozen.tabulator-frozen-left { margin-left: 1px; }

	.tabulator-row {
		transition: background-color 120ms ease;
	}

	input:checked + .slider {
		background-color: var(--blue-400);
	}

	.tabulator-header {
		border-bottom: 1px solid var(--table-border-color);
		border-top: none;

		.tabulator-col {
			color: var(--text-muted);
			background-color: var(--subtle-fg);
			font-size: var(--text-sm);
			font-weight: var(--weight-regular);
			letter-spacing: 0.02em;
		}
	}

	.tabulator-tableholder {
		overflow-y: hidden;
	}

	.tabulator-cell, .tabulator-col-title {
		input[type="checkbox"] {
			margin: 0 !important;
			padding: 0 !important;
		}
	}

	.item-builder-flex-center {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	.ql-tooltip {
		z-index: 5;
	}
	.ql-container {
		overflow: visible !important;
	}
	.ql-toolbar {
		width: max-content;
		overflow: visible;
	}
	.ql-editor {
		min-height: 1em;
		max-height: unset;
		padding: 0px;
	}
	.tabulator-cell.tabulator-editing .ql-editor {
		padding: 3px;
	}

	.tabulator-row .tabulator-cell.tabulator-editing {
		height: 29px !important;
		vertical-align: top;
	}

	.tabulator-row .tabulator-cell.tabulator-editing :is(input, select) {
		height: unset !important;
	}
}

.chantier-heading {
	.btn-reset {
		color: var(--text-color);
	}
}

.chantier-heading-1 {
	counter-increment: chantierheading1 1;
	counter-reset: chantierheading2 0 chantierheading3 0;
}
.chantier-heading-2 {
	counter-increment: chantierheading2 1;
	counter-reset: chantierheading3 0;
}
.chantier-heading-3 {
	counter-increment: chantierheading3 1;
}

.chantier-heading-1 .chantier-counter::before {
	content: counter(chantierheading1, decimal) '. ';
}
.chantier-heading-2 .chantier-counter::before {
	content: counter(chantierheading1, decimal) '.' counter(chantierheading2, decimal) '. ';
}
.chantier-heading-3 .chantier-counter::before {
	content: counter(chantierheading1, decimal) '.' counter(chantierheading2, decimal) '.' counter(chantierheading3, decimal) '. ';
}

.chantier-counter {
	position: relative;
	cursor: pointer;

	&::before {
		opacity: 0.5;
	}

	&:hover::before {
		opacity: 1;
		color: var(--primary);
	}

	select {
		position: absolute;
		inset: 0;
		opacity: 0;
	}
}